body {
  display: flex;
  align-items: center;
}

#board {
  display: flex;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  width: 600px;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 72px;
  font-weight: bold;
  font-family: Arial;
  color: #ddd;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.square:hover {
  background-color: #f2f2f2;
}

.square:hover::before {
  color: #333;
}

button#resetButton {
  background-color: 
  #046bd1;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

button#resetButton:hover {
  background-color: #0073e6;
}

#startScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#startScreen button{
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  margin: 5px auto;
  cursor: pointer;
  display: block;
}

#startScreen button:hover {
  background-color: #0073e6;
}

#startScreen p {
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-bottom: px;
}

#startScreen h1 {
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -10px;
}
